<div class="main-container">
  <div>
    <h3>Upload Profile Picture</h3>

    <div class="file-upload-wrapper">
      <input type="file" id="fileInput" (change)="onFileSelected($event)" />

      <!-- This looks like your button -->
      <label for="fileInput" class="upload-btn">Choose File</label>

      <!-- Show file name if selected -->
      <span *ngIf="selectedFileName" class="file-name">{{ selectedFileName }}</span>
    </div>


  </div>

  <div *ngIf="uploadProgress">
    Uploading: {{ uploadProgress }}%
  </div>

  <div *ngIf="previewUrl" class="preview">
    <h4>Preview:</h4>
    <img [src]="previewUrl" alt="Preview" class="profile-pic-preview" />
  </div>
  <button class="action-button" (click)="upload()" [disabled]="!selectedFile">
    Upload
  </button>
  <div *ngIf="uploadedUrl">
    Uploaded successfully! <a [href]="uploadedUrl" target="_blank">View</a>
  </div>


</div>