<div class="card">
  <div class="card-body">
    <!-- Vasen sarake -->
    <div class="card-left">
      <div class="card-img-wrapper" (click)="onProfile()" role="button" tabindex="0"
        [attr.aria-label]="'Open profile of ' + user.Username" data-tooltip="View player profile">

        <!-- Status ring -->
        <span class="status-ring"
          [ngClass]="{'online': user.Status==='online', 'offline': user.Status!=='online'}"></span>

        <!-- Profile picture -->
        <img *ngIf="user.ProfilePicture" [src]="user.ProfilePicture" class="card-img-top" alt="Profile picture"
          loading="lazy" />
        <img *ngIf="!user.ProfilePicture" src="assets/svg/Acount.svg" class="card-img-top" alt="Profile picture"
          loading="lazy" />
      </div>

      <p class="user-name">{{ user.Username }}</p>






    </div>

    <!-- Oikea sarake -->
    <div class="card-right">


      <div class="divider"></div>
      <div>
        <div class="languages" *ngIf="getCommonLanguages(user.Languages).length > 0">
          <ng-container *ngFor="let langCode of getCommonLanguages(user.Languages)">
            <img [src]="getFlag(langCode)" alt="" class="flag-img" />
          </ng-container>
        </div>
        <div class="card-actions">
          <button class="btn btn-primary" (click)="SendMsg(user.UserId)">
            <img src="/assets/svg/Messages/NoMessage.svg" alt="" class="btn-icon" />
            <span>Send Message</span>
          </button>
          <button class="btn btn-success" (click)="onAddFriend()">
            <img src="/assets/svg/Plus_icon.svg" alt="" class="btn-icon" />
            <span>Add Friend</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>