<div class="social-floating-navbar">
  <div class="header">
    <div class="social-text">Social</div>
    <div class="linebreak-horizontal-wrapper">
      <div class="linebreak-horizontal">
        <div class="social-floating-navbar-linebreak-horizontal">
          <div class="linebreak-horizontal-child">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chatrooms-sum-wrapper">
    <div class="chatrooms-sum">
      <b class="my-chatrooms-container">
        <span>PLAYERS ONLINE - </span>
        <span class="sum">sum() </span>
      </b>
    </div>
  </div>
  <div class="friends-container">
    <div class="players">
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
      <div class="player-card">
        <img class="acount-icon" alt="">

        <div class="player-name">Player name</div>
        <div class="status">
          <img class="online-icon" alt="">

        </div>
      </div>
    </div>
    <div class="friends-container-child">
    </div>
  </div>
  <div class="chatroom-text-container">
    <div class="social-floating-navbar-chatrooms-sum">
      <b class="my-chatrooms-container">
        <span>MY CHATROOMS - </span>
        <span class="sum">sum() </span>
      </b>
    </div>
  </div>
  <div class="chatroom-items">
    <div class="chatroom-card">
      <div class="chatroom-card-child">
      </div>
      <div class="player-name">Room name</div>
    </div>
    <div class="chatroom-card">
      <div class="chatroom-card-child">
      </div>
      <div class="player-name">Room name</div>
    </div>
    <div class="chatroom-card">
      <div class="chatroom-card-child">
      </div>
      <div class="player-name">Room name</div>
    </div>
    <div class="chatroom-card">
      <div class="chatroom-card-child">
      </div>
      <div class="player-name">Room name</div>
    </div>
    <div class="chatroom-card">
      <div class="chatroom-card-child">
      </div>
      <div class="player-name">Room name</div>
    </div>
  </div>
</div>