<nav class="navigation">
  <!-- Top -->
  <div class="top-section">
    <img class="logo" src="assets/images/synerraLogoBig.png" alt="Synerra Logo" />

    <div class="user-profile">
      <img class="avatar" src="assets/svg/Acount.svg" alt="User account" />
      <div class="user-info">
        <span class="user-name">User</span>
        <span class="user-email">Email address</span>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <!-- Nav -->
  <div class="nav-links">
    <button class="nav-btn" routerLink="/dashboard">
      <img src="assets/svg/Home.svg" alt="Home icon" />
      <span>Home</span>
    </button>
    <button class="nav-btn" routerLink="/find-players">
      <img src=" assets/svg/Gamepad.svg" alt="Games icon" />
      <span>Games</span>
    </button>
    <button class="nav-btn" routerLink="/social">
      <img src="assets/svg/NoMessage.svg" alt="Messages icon" />
      <span>Social</span>
    </button>
    <button class="nav-btn">
      <img src="assets/svg/Settings.svg" alt="Settings icon" />
      <span>Settings</span>
    </button>
  </div>

  <!-- Bottom -->
  <div class="bottom-section">
    <button class="nav-btn" routerLink="/login">
      <img src="assets/svg/Logout.svg" alt="Logout icon" />
      <span>Logout</span>
    </button>
  </div>
</nav>