<div>
  <nav class="navigation-big">
    <!-- Logo ja käyttäjäprofiili -->
    <div class="top-logo">
      <img src="assets/svg/logo.svg" alt="Brand Logo" class="logo-big-transparent">

      <div class="user-profile-card-big">
        <img src="assets/svg/account.svg" alt="Avatar Icon" class="account-icon">
        <div class="user-stats">
          <div class="user-name">User</div>
          <div class="email-address">Email address</div>
        </div>
      </div>
    </div>

    <!-- Navigointipainikkeet -->
    <div class="main-buttons">
      <div class="linebreak-horizontal">
        <div class="linebreak-horizontal-child"></div>
      </div>

      <div class="navigation-links">
        <div class="home-button">
          <img src="assets/svg/home.svg" alt="Home icon" class="home-icon">
          <div class="painike">Home</div>
        </div>

        <div class="games-button">
          <img src="assets/svg/games.svg" alt="Games icon" class="home-icon">
          <div class="painike">Games</div>
        </div>

        <div class="social-button">
          <img src="assets/svg/chat.svg" alt="Chat icon" class="home-icon">
          <div class="painike">Social</div>
        </div>

        <div class="settings-button">
          <img src="assets/svg/settings.svg" alt="Settings icon" class="home-icon">
          <div class="painike">Settings</div>
        </div>
      </div>

      <div class="linebreak-horizontal">
        <div class="linebreak-horizontal-child"></div>
      </div>
    </div>

    <!-- Logout -->
    <div class="logout-button">
      <img src="assets/svg/logout.svg" alt="Logout icon" class="home-icon">
      <div class="painike">Logout</div>
    </div>
  </nav>
</div>