@if (loadingSpinnerShowing) {
<div class="loadingSpinner">
  <app-loading-spinner />
</div>
} @else {
<div class="main-content">
  <div class="social-menu">
    <app-social-menu [messagesTabShowing]="messagesTabShowing" [totalCount]="totalCount$ | async"
      (notificationsClicked)="tabSwitch($event)" />
  </div>

  <div class="tabs">
    @if (messagesTabShowing) {
    <div class="messagesTab">
      <app-messages-tab [friendsList]="friendList" [directChats]="directChats" [groupChats]="groupChats" />
    </div>
    } @else {
    <div class="notificationsTab">
      <app-notifications-tab [messages]="messages$ | async" [friendRequests]="friendRequests$ | async"
        [totalCount]="totalCount$ | async">
      </app-notifications-tab>
    </div>
    }
  </div>
</div>
}