h1 {
  font-family: var(--font-title);
  font-size: 100px;
}

.main-content {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-direction: column;
  align-items: stretch;
}

html,
body {
  height: 100%;
}

.social-menu {
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.social-floating {
  margin-left: auto;
}
app-dashboard {
  flex: 1;
}

@media (max-height: 500px) {
  .social-menu {
    padding: 0.8rem 0 0.8rem 0;
  }
}
