.main-frame {
  color: var(--color-text-default);
  width: 100%;
  max-width: 60rem;
  height: 32rem;
  overflow: hidden;
  display: flex;
  align-items: center; /* pystysuunta */
  justify-content: start; /* vaakasuunta */
  border: 1px solid transparent;
  background:
    /* sisäpinta */ linear-gradient(var(--color-background))
      padding-box,
    /* varsinainen reuna*/ var(--color-gray-v1) border-box;
  border-radius: 8px;
  padding: 50px 100px;
  gap: 32px;

  flex-direction: column;

  min-height: 22rem;
}

.inputHeadings {
  padding-top: 1.2rem;
}

input {
  width: 400px;
  padding: 0.6rem 0 0.6rem 1rem;
  border: 1px solid transparent;
  border-radius: 6px;
  color: var(--color-text-default);
  outline: none;

  /* border */
  background:
    /* sisäpinta */ linear-gradient(var(--color-background))
      padding-box,
    /* varsinainen reuna*/ var(--color-gray-v1) border-box;

  transition: background 0.4s ease, transform 0.2s ease;
}

input::placeholder {
  color: var(--color-text-dark);
}

input:focus {
  box-shadow: none;

  background: linear-gradient(var(--color-background), var(--color-background))
      padding-box,
    var(--color-orange-gradient) border-box;

  transform: scale(1.01);
}

/* Täytyy lisätä tämä globaliin, ja tutkia enemmän! Inputin menevät valkoiseksi jos auto fillaa historiasta esim. sähköpostin!
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--color-background) inset !important;
}
  */

.headFrame {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonFrame {
  padding: 1.5rem 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.errorText {
  display: flex;
  align-items: center;
  color: var(--color-primary);
  text-align: center;
  gap: 0.4rem;
}
.errorText h2 {
  margin: 0;
}

.stateImage {
  width: 18px;
}

/*Breakpointit*/

@media (max-width: 600px) {
  .main-frame {
    padding: 32px;
    gap: 24px;
    max-width: 680px;
  }
  .inputHeadings,
  .buttonFrame {
    max-width: 520px;
  }
  input {
    max-width: 520px;
  }
}
@media (max-width: 500px) {
  .main-frame {
    scale: 0.95;
  }
}

@media (max-height: 551.33px) {
  .main-frame {
    scale: 0.9;
  }
}

/*Mobiili*/
@media (max-width: 430px) {
  .main-frame {
    scale: 0.88;
  }
}
