<div class="main-frame">
  <!--Tässä sisältö-->

  <div class="headFrame">
    <h1 class="text-xl-light">Login with email</h1>
  </div>

  <div class="formFrame">
    <form (ngSubmit)="login()" class="formContainer">
      <div class="inputHeadings">
        <h2 class="text-sm">Email</h2>
      </div>

      <input
        #inputEmail
        type="email"
        [(ngModel)]="emailInput"
        name="email"
        placeholder="example@email.com"
        class="text-xs"
        (focus)="errorVisible = false"
        (keydown.enter)="handleEnterOnEmail($event); inputPassword.focus()"
      />

      <div class="inputHeadings">
        <h2 class="text-sm">Password</h2>
      </div>

      <input
        #inputPassword
        type="password"
        [(ngModel)]="passwordInput"
        (keydown.enter)="handleEnterOnPassword($event)"
        name="password"
        placeholder="**********"
        class="text-xs"
        (focus)="errorVisible = false"
      />

      <div class="buttonFrame">
        <app-button
          label="Back"
          variant="default"
          [routerLink]="'/login/'"
        ></app-button>
        <app-button
          #nextBtn
          label="Login"
          variant="highlight"
          type="submit"
          [state]="canLogin ? 'active' : 'disabled'"
        ></app-button>
      </div>
    </form>
  </div>
  <div
    class="errorText"
    role="alert"
    [style.visibility]="errorVisible ? 'visible' : 'hidden'"
  >
    <img src="assets/svg/StateKey/NotAllowed.svg" class="stateImage" alt="" />
    <p class="text-xs">Wrong password or email.</p>
  </div>
</div>
