.layout {
  width: 100%;
  display: flex;
  justify-content: center;
  --page-horizontal-gap: clamp(1.5rem, 4vw, 3rem);
}

.mid-container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (max-width: 900px) {
  /* .mid-container {
    padding: 0 calc(1.75rem + var(--page-horizontal-gap)) 2.5rem;
  } */
}

@media (max-width: 768px) {
  .mid-container {
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .layout {
    padding-top: 16px;
    /* --page-horizontal-gap: clamp(1rem, 6vw, 2rem); */
  }
}
