<div class="dashboard">
  <div class="dashboard-inner">
    <!-- Top Navigation -->
    <header class="top-navigation-bar">
      <b class="welcome-text">Good evening, </b>
      <b class="user-name">USER</b>
    </header>

    <!-- Favorite Games -->
    <section class="favorite-games">
      <div class="section-title">Favorite games</div>
      <div class="games-grid">
        <app-dashboard-card *ngFor="let game of filteredGames" [game]="game">
        </app-dashboard-card>
      </div>
    </section>

    <!-- Popular Games -->
    <section class="popular-games">
      <div class="section-title">Popular games</div>
      <div class="games-grid">
        <app-dashboard-card *ngFor="let game of sortedGames" [game]="game">
        </app-dashboard-card>
      </div>
    </section>
  </div>
</div>