.dashboard {
  margin-top: 0.78%;
  width: 70%;
  max-width: 100vw;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Top navigation */
.top-navigation-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: #a9a9a9;
  background-color: #1b1b1b;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  width: 100%;
}

.user-name {
  color: var(--color-primary);
}

/* Section titles */
.section-title {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

/* Game grids */
.games-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Individual game card */
.game-card {
  flex: 1 1 calc(25% - 1rem); /* 4 cards per row with gap */
  min-width: 10rem;
  max-width: 12rem;
  height: 6rem;
}

.game-card-inner {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #1b1b1b;
  border: 1px solid #8e8e8e;
}
