.dashboard {
  width: 100%;
  position: relative;
  height: 64rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.875rem;
  color: #fff;
  font-family: Inter;
}
.your-favourite-games {
  position: absolute;
  top: 13.188rem;
  left: 0.188rem;
  width: 43.5rem;
  height: 22.688rem;
  overflow: hidden;
}
.your-favorite-games {
  position: absolute;
  top: 0.938rem;
  left: 1.938rem;
  font-weight: 500;
}
.container-black-box-parent {
  position: absolute;
  top: 5rem;
  left: 0rem;
  width: 43.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 1.25rem;
}
.container-black-box {
  width: 39.688rem;
  position: relative;
  height: 9.063rem;
}
.container-black-box-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 8px;
  background-color: #1b1b1b;
  border: 1px solid #8e8e8e;
  box-sizing: border-box;
}
.dashboard-container-black-box {
  width: 12.313rem;
  position: relative;
  height: 6.25rem;
}
.container-black-box3 {
  width: 12.25rem;
  position: relative;
  height: 6.25rem;
}
.popular-games {
  position: absolute;
  top: 36.563rem;
  left: 0rem;
  width: 43.5rem;
  height: 17.313rem;
  overflow: hidden;
}
.dashboard-popular-games {
  position: absolute;
  top: 0rem;
  left: 2.688rem;
  font-weight: 500;
}
.container-black-box-group {
  position: absolute;
  top: 40.438rem;
  left: 0.188rem;
  width: 43.5rem;
  height: 9.563rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.container-black-box4 {
  width: 12.188rem;
  position: relative;
  height: 9.563rem;
}
.container-black-box5 {
  width: 12rem;
  position: relative;
  height: 9.563rem;
}
.top-navigation-bar {
  position: absolute;
  top: 2.188rem;
  left: 2.125rem;
  background-color: #1b1b1b;
  width: 39.688rem;
  height: 4.313rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0.625rem 1.875rem;
  box-sizing: border-box;
  gap: 0.625rem;
  font-size: 2rem;
  color: #a9a9a9;
}
.welcome-text {
  position: relative;
}
.user-name {
  position: relative;
  color: #ffac59;
}
