.filters-container {
  position: relative; /* required for ::before absolute positioning */
  background-color: var(--color-background);
  border-radius: 15px;
  z-index: 100;
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  width: 100%;
}

.filters-container::before {
  content: "";
  position: absolute;
  inset: 0; /* covers entire element */
  border-radius: 15px;
  padding: 1px; /* thickness of gradient border */
  background: var(--color-gray-v2);

  /* Mask for gradient border */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;

  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;

  pointer-events: none; /* don’t block clicks */
}

.input-container {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
  position: relative;
  height: 100%; /* make sure container has height */
  width: 100%;
}
.filters {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

input {
  margin: 10px;
  width: 70%;
  height: 40px;
  background-color: var(--color-background);
  color: var(--color-text-default);
  border-radius: 8px;
}

select {
  margin: 20px;
  width: 200px;
  margin-bottom: 20px;
  height: 35px;
  background-color: var(--color-background);
  color: var(--color-text-default);
  border-radius: 8px;
}

.users-heading {
  margin-top: 20px;
  color: var(--color-text-default);
}

.checkbox-collapsible {
  margin: 8px 0;
  z-index: 1000;
}

.checkbox-collapsible button {
  width: 100%;
  text-align: left;
  padding: 6px;
  background-color: var(--color-background);
  border-radius: 8px;
  cursor: pointer;
  color: var(--color-text-default);
  z-index: 1000;
}

.checkbox-list {
  max-height: 150px;
  margin-top: 4px;
  padding: 6px;
  border-radius: 6px;
  background-color: var(--color-background);
  color: var(--color-text-default);
  position: absolute;
  top: 100%;
  z-index: 10000;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkbox-item {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;
  font-size: 0.9rem;
  color: var(--color-text-default);
  z-index: 1000;
}
