<button type="button" class="card" (click)="selectGame(game)" [attr.aria-label]="'Select ' + game.Name"
  [attr.title]="game.Name">
  <div class="card-img-wrapper">

    <img [src]="game.Img_url" alt="{{ game.Name }}" loading="lazy" class="card-img-top">
    <button type="button" class="fav-button" (click)="toggleFavourite($event)" [attr.aria-label]="'Add '+game.Name+ ' to favourites'"
      [attr.title]="'Add '+game.Name+ ' to favourites'">
      {{ isFavourite ? '★' : '☆' }}
    </button>

  </div>

  <div class="card-body">

    <div class="card-title">{{ game.Name }}</div>
    <div class="card-text">Genre: {{ game.Genre }}</div>


  </div>
</button>
@if (favouriteMessage) {
<div class="favourite-message">
  {{ favouriteMessage }}
</div>
}