.modal-frame {
  color: var(--color-text-default);
  width: 100%;
  max-width: 60rem;
  padding: 2rem;
  height: 40rem;
  overflow: hidden;
  display: flex;
  align-items: center; /* pystysuunta */
  justify-content: center; /* vaakasuunta */
  border-radius: 8px;
  background: var(--color-gray);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 1);
  border: 1px solid rgba(58, 58, 58, 1);
  flex-direction: column;
}

.modal-header {
  border: hidden;
  justify-content: center;
  padding: 0.2rem 0 0 0;
}

.modal-header h1 {
  font-size: 24px;
}

.modal-body {
  width: 100%;
  height: fit-content;
  padding: 0 1rem 0 1rem;
  flex: 0;
}

.progress {
  justify-content: center;
  width: 100%;
  gap: 5px;
  background-color: var(--color-gray);
  height: fit-content;
  padding: 0 0 1rem 0;
  align-items: center;
}

.done {
  position: relative;
  border-radius: 50%;
  animation: breath 3s ease-in-out infinite;
}

@keyframes breath {
  0% {
    transform: scale(1.1);
    filter: brightness(1.2);
  }
  50% {
    transform: scale(0.97);
    filter: brightness(0.8);
  }
  100% {
    transform: scale(1.1);
    filter: brightness(1.2);
  }
}

.nextStep {
  color: #f2680d;
  font-size: 30px;
  height: fit-content;
}

.gameCards {
  display: flex;
  gap: 15px;
  padding-bottom: 0.5rem;
  max-width: 100%;
  height: 250px;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  flex: 0 0 150px;
  height: 100%;
  color: var(--color-text-default);
  justify-content: center;

  background: var(--color-background);

  border: 1px solid transparent;
  filter: brightness(0.8);
  transition: filter 0.4s ease, transform 0.4s ease;
}
.card:hover {
  transform: scale(0.98);
  filter: brightness(1.2);

  background: linear-gradient(var(--color-background), var(--color-background))
      padding-box,
    var(--color-orange-gradient) border-box;

  border: 3px solid transparent;
}

.modal-footer {
  border: hidden;
  padding: 0 0 2rem 0;
  justify-content: center;
  gap: 43px;
}

.hint {
  color: var(--color-text-grey);
  text-align: center;
  padding: 1rem 0 1rem 0;
}

.text-xs {
  font-size: 16px;
  margin: 0;
}

.card.selected {
  border: 3px solid var(--color-primary); /* blue border for selected games */
  transform: scale(1.01); /* optional: slightly enlarge selected cards */
  filter: brightness(1.2);
  transition: transform 1s ease-in-out;
}

@media (max-width: 682px) {
  h2 {
    font-size: 17px;
  }
  .modal-body {
    padding: 0;
  }
}

@media (max-width: 592px) {
  .progress {
    display: none;
  }
  h1 {
    font-size: 27px;
  }
  .card:hover {
    transform: none;
    filter: none;
    background: none;
    border: 1px solid transparent;
  }
  .card.selected {
    border: 5px solid var(--color-primary);
  }
}

@media (max-width: 430px) {
  input {
    width: 20rem;
  }
  .modal-header {
    width: 30rem;
  }
  .modal-body {
    gap: 0.5rem;
  }
  .modal-footer {
    padding: 2rem 0 0 0;
    gap: 1.3rem;
  }
  .text-sm-18 {
    font-size: 15px;
  }
}
