<div class="messagesTab">
  <!-- ALEMPI TAKASIN JOS HALUAA SEARCHIN -->
  <!-- <div class="messagesHeader">
    <div class="filterButtons">
      <app-button label="Online" variant="default" size="small" [fullWidth]="true"></app-button>
      <app-button label="All" variant="default" size="small" [fullWidth]="true"></app-button>
      <app-button label="Add" variant="default" button-align="center" size="small" [fullWidth]="true"
        icon="Add user"></app-button>
    </div>
    <div class="input-container">
      <img src="assets/svg/Search_icon.svg" alt="Search" class="search-icon" />
      <input type="text" placeholder="Search users..." />
    </div>
  </div> -->
  <!-- Tabs -->
  <div class="tabsConts">
    <ul class="nav nav-tabs" id="chatTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 'users'" (click)="activeTab = 'users'" type="button">
          Chats
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab === 'groups'" (click)="activeTab = 'groups'" type="button">
          Group chats
        </button>
      </li>

      <app-button label="New chat +" [fullWidth]="true" size="small" (click)="openNewChatModal()"></app-button>
    </ul>

    <div class="conts">
      <div class="tab-content" id="chatTabsContent" [ngClass]="{
      'show-users': activeTab === 'users',
      'show-groups': activeTab === 'groups'
    }">
        <div class="tab-pane" id="users">
          @if (directChats().length > 0) {
          @for (chat of directChats(); track $index) {
          <div class="card mb-2 p-2 text-white">
            <!-- Whole member block clickable -->
            @for (member of chat.Members; track $index) {
            <div class="d-flex align-items-center user-card" (click)="userClicked(member.UserId)">

              <img class="account-icon"
                [src]="member?.ProfilePicture ? member.ProfilePicture : 'assets/images/profilePicPlaceHolder.jpg'" />

              <div class="userTextBar">
                <!-- Username clickable for different action -->
                <strong (click)="openProfile(member.UserId, $event)" class="username-link">
                  {{ member.Username }}
                </strong><br />
                <small class="lMessage">{{ member.Username }}</small>
              </div>
            </div>
            }
          </div>
          }
          } @else {
          <ng-template #noDirects>
            <p>No direct chats available</p>
          </ng-template>
          }

          <ng-template #noDirects>
            <p>No chats yet.</p>
          </ng-template>
        </div>

        <div class="tab-pane" id="groups">
          @if (groupChats().length > 0) {
          @for (group of groupChats(); track group.RoomId) {
          <div class="card mb-2 p-2 text-white" (click)="groupChatClicked(group.RoomId)">

            <div class="d-flex align-items-center">
              <!-- Avatars loop -->
              <div class="group-avatars">
                @for (member of group.Members; track member.UserId) {
                <img class="account-icon" [src]="member.ProfilePicture || 'assets/images/profilePicPlaceHolder.jpg'" />
                }
              </div>
              <div class="group-usernames">
                @for (member of group.Members; track member.UserId; let last = $last) {
                <span class="username-link">
                  <strong (click)="openProfile(member.UserId, $event)">
                    {{ member.Username }}
                  </strong>
                </span>
                @if (!last) {
                <span>, </span>
                }
                }
              </div>
            </div>
          </div>
          }
          } @else {
          <p>No group chats available</p>
          }

          <ng-template #noGroups>
            <p>No group chats yet.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

@if (newChatModalOpen) {
<div class="friendsModal">
  <div class="modalOverlay"></div>
  <div class="modalContent">
    <h3 class="modalTitle">Add friends to chat</h3>

    <!-- Voi lisätä myöhemmin input filtterin jos jaksaa -->
    <!--
      <div class="input-container">
        <img src="assets/svg/Search_icon.svg" alt="Search" class="search-icon" />
        <input type="text" placeholder="Search friends..." />
      </div>
      -->

    <div class="friendsList">
      @if (friendsList && friendsList.length > 0) {
      @for (friend of friendsList; track $index) {
      <div class="card mb-2 p-2 text-white" [class.selected]="isSelected(friend)"
        (click)="toggleFriendSelection(friend)">
        <div class="d-flex align-items-center user-card">
          <img class="account-icon" [src]="friend.ProfilePicture || 'assets/images/profilePicPlaceHolder.jpg'"
            alt="Friend" />
          <div class="userTextBar">
            <strong>{{ friend.Username }}</strong><br />
            <small class="lMessage">{{ friend.Status || 'Offline' }}</small>
          </div>
        </div>
      </div>
      }
      } @else {
      <p>You need friends first!</p>
      }
    </div>

    <div class="modalButtons">
      <app-button label="Close" [fullWidth]="true" size="small" (click)="closeNewChatModal()">
      </app-button>
      <app-button label="Start chat" [fullWidth]="true" size="small" variant="highlight"
        [state]="selectedFriends.length !== 0 ? 'active' : 'disabled'" (click)="startChat()">
      </app-button>
    </div>
  </div>
</div>
}