h1 {
  font-family: var(--font-title);
  font-size: 100px;
}

.layout {
  display: flex;
  height: 100vh;
}

body {
  height: 100%;
  overflow: hidden;
}

.social-floating {
  margin-left: auto;
}
app-dashboard {
  flex: 1;
  overflow-x: hidden;
}
