<div class="container-opaque">
  <div class="left-column">
    <img src="assets/svg/logo_big.svg" alt="Synerra logo" class="logo-big" />
    <div class="welcome-block">
      <h1>Welcome to Synerra</h1>
      <p class="text-sm-18">Find teammates, reduce toxicity, enjoy the game.</p>
    </div>
  </div>

  <div class="v-divider" aria-hidden="true"></div>

  <div class="right-column">
    <div class="login-frame">
      <app-button label="Login with Steam" icon="Steam" variant="default" size="large" [fullWidth]="true"
        align="left"></app-button>

      <app-button label="Login with Google" icon="Google" variant="default" size="large" [fullWidth]="true"
        align="left"></app-button>

      <app-button label="Login with Epic Games" icon="EpicGames" variant="default" size="large" [fullWidth]="true"
        align="left"></app-button>

      <app-button label="Login with Email" icon="Mail" variant="default" size="large" [fullWidth]="true"
        align="left"></app-button>

      <div class="linebreak">
        <div class="linebreak-child"></div>
        <div class="painike">or</div>
        <div class="linebreak-child"></div>
      </div>

      <div class="already text-sm-bold">Already part of the team?</div>

      <app-button label="Signup" variant="highlight" size="large" [fullWidth]="true" align="center"></app-button>
    </div>
  </div>
</div>