<div class="container-opaque">
  <div class="left-column">
    <img src="assets/svg/logo_big.svg" alt="Synerra logo" class="logo-big" />
    <div class="welcome-block">
      <h1>Welcome to Synerra</h1>
      <p class="text-sm-18">Match by playstyle and vibe.</p>
      <p class="welcome-value">No toxicity. No chaos. Just good games.</p>
    </div>
  </div>

  <div class="v-divider" aria-hidden="true"></div>

  <div class="right-column">
    <div class="login-frame">
      <app-button label="Login with Steam" icon="Steam" variant="default" size="large" [fullWidth]="true"
        iconPosition="left"></app-button>

      <app-button label="Login with Google" icon="Google" variant="default" size="large" [fullWidth]="true"
        iconPosition="left"></app-button>

      <app-button label="Login with Epic Games" icon="EpicGames" variant="default" size="large" [fullWidth]="true"
        iconPosition="left"></app-button>

      <app-button label="Login with Email" icon="Mail" variant="default" size="large" [fullWidth]="true"
        iconPosition="left" (click)="emailLogin()"></app-button>

      <div class="linebreak">
        <div class="linebreak-child"></div>
        <div class="teksti">or</div>
        <div class="linebreak-child"></div>
      </div>

      <div class="cta-panel">
        <div class="cta-text">
          <span class="cta-text__label">Begin your journey</span>
        </div>
        <app-button class="signup-cta" label="Create Profile" variant="highlight" size="large" [fullWidth]="true" align="center"
          [routerLink]="'/signup'"></app-button>
      </div>
    </div>
  </div>
</div>

<footer class="login-footer">
  © 2025 Synerra
</footer>
