<div class="filters-container">
  <h2 class="games-heading">Browse Games</h2>
  <div class="input-container">
    <img src="assets/svg/Search_icon.svg" alt="Search" class="search-icon" />
    <input type="text" [formControl]="searchControl" placeholder="Search by game..." />
  </div>
  <div class="filters">
    <select (change)="onGenreChange($event)" id="game-genre" name="game-genre">
      <option value="">Select a category</option>
      <option value="shooter">Shooter</option>
      <option value="moba">Moba</option>
      <option value="br">Battle Royale</option>
      <option value="other">Other</option>
    </select>
    <app-button
      class="sort-button"
      variant="highlight"
      size="medium"
      [label]="sortByPopularity ? 'Sorted by Popularity' : 'Sort by Popularity'"
      (click)="onToggleSort()"
      [state]="sortByPopularity ? 'active' : undefined"
      [attr.aria-pressed]="sortByPopularity"
      aria-label="Toggle sort by popularity">
    </app-button>

  </div>
</div>
