<div class="filters-container">
  <h2 class="games-heading">Browse Games</h2>
  <div class="input-container">
    <input type="text" id="gamesearch" name="gamesearch" placeholder="Search for game...">
  </div>
  <div class="filters">
    <select (change)="onGenreChange($event)" id="game-genre" name="game-genre">
      <option value="">Select a category</option>
      <option value="shooter">Shooter</option>
      <option value="moba">Moba</option>
      <option value="br">Battle Royale</option>
      <option value="other">Other</option>
    </select>
    <button (click)="onToggleSort()">
      Sort by Popularity
    </button>

  </div>
</div>