<div class="users-list">
  <div class="top-bar">
    <h2 class="title">Socials</h2>
    <div class="topHeader">
      <app-button label="All chats" [variant]="messagesTabShowing() ? 'highlight' : 'default'" size="small"
        [fullWidth]="true" (click)="switchTab('messages')"></app-button>
      <app-button label="Notifications" [variant]="!messagesTabShowing() ? 'highlight' : 'default'" size="small"
        [fullWidth]="true" (click)="switchTab('notifications')"></app-button>
    </div>
  </div>
</div>