.modal-frame {
  color: var(--color-text-default);
  padding: 4rem;
  height: 39rem;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center; /* pystysuunta */
  justify-content: center; /* vaakasuunta */
  border: 1px solid transparent;
  border-radius: 8px;
  background:
    /* sisäpinta */ linear-gradient(var(--color-background))
      padding-box,
    /* varsinainen reuna*/ var(--color-gray-v1) border-box;
  gap: 35px;
  flex-direction: column;
}

.modal-footer {
  border: hidden;
  padding: 0, 1rem;
  justify-content: center;
  gap: 43px;
}

.modal-header {
  border: hidden;
  padding-bottom: 0;
  justify-content: center;
}

.modal-body {
  padding: 0;
  width: 30rem;
}

.hint {
  color: var(--color-text-dark);
}

.progress {
  justify-content: center;
  gap: 5px;
  background-color: var(--color-background);
  height: fit-content;
}

.nextStep {
  color: var(--color-primary);
  font-size: 30px;
  height: fit-content;
}

.form-control {
  border: 1px solid transparent;
  border-radius: 6px;
  color: var(--color-text-default);
  outline: none;

  /* border */
  background:
    /* sisäpinta */ linear-gradient(var(--color-background))
      padding-box,
    /* varsinainen reuna*/ var(--color-gray-v1) border-box;

  transition: background 0.4s ease, transform 0.2s ease;
}

.form-control::placeholder {
  color: var(--color-text-dark);
}

.form-control:focus {
  box-shadow: none;

  background: linear-gradient(var(--color-background), var(--color-background))
      padding-box,
    var(--color-orange-gradient) border-box;

  transform: scale(1.01);
}
@media (max-width: 583px) {
  .progress {
    display: none;
  }
  h1 {
    font-size: 40px;
  }
  .text-sm {
    font-size: 18px;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 555px) {
  h1 {
    font-size: 33px;
  }
  .modal-body,
  .modal-footer {
    width: 20rem;
  }
  .text-sm {
    font-size: 14px;
  }
  .text-sm-bold {
    font-size: 18px;
  }
}
