<div class="main-frame">
  <div class="headFrame">
    <h2 class="text-xl-light">Create your account</h2>
  </div>

  <div class="formFrame">
    <form (ngSubmit)="signup()">
      <div>
        <h2 class="text-sm">Email</h2>
      </div>

      <input
        type="email"
        [(ngModel)]="emailInput"
        name="email"
        placeholder="example@email.com"
        class="text-xs"
        (blur)="validEmail()"
        (input)="onEmailInput()"
      />

      <div
        class="req-item"
        [style.visibility]="emailError ? 'visible' : 'hidden'"
      >
        <img src="assets/svg/StateKey/NotAllowed.svg" class="stateImage" />
        <h2 class="text-2xs error-text">Must be an actual email</h2>
      </div>

      <div class="inputHeadings">
        <h2 class="text-sm">Password</h2>
      </div>

      <!--Salasana container, silmällä-->
      <div class="password-container">
        <input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="passwordInput"
          name="password"
          placeholder="**********"
          class="text-xs"
          (input)="checkPasswordReq()"
          (blur)="passwordBlur = true"
          (focus)="passwordBlur = false"
        />
        <img
          class="eyeImage"
          [src]="
            showPassword
              ? 'assets/svg/Eye_closed.svg'
              : 'assets/svg/Eye_open.svg'
          "
          (click)="togglePasswordVisibility()"
          alt="Show/Hide password"
        />
      </div>

      <!--Mitä "salasanan" pitäisi sisältää-->
      <div class="requiredContainer">
        <div class="req-item">
          <img
            [src]="
              !passwordInput
                ? 'assets/svg/StateKey/Default.svg'
                : hasCapital
                ? 'assets/svg/StateKey/Success.svg'
                : passwordBlur
                ? 'assets/svg/StateKey/NotAllowed.svg'
                : 'assets/svg/StateKey/Default.svg'
            "
            class="stateImage"
          />
          <h2
            class="text-2xs"
            [ngClass]="{
              'default-text': !passwordInput || (!hasCapital && !passwordBlur),
              'valid-text': passwordInput && hasCapital,
              'error-text': passwordInput && !hasCapital && passwordBlur
            }"
          >
            Capital letter
          </h2>
        </div>
        <div class="req-item">
          <img
            [src]="
              !passwordInput
                ? 'assets/svg/StateKey/Default.svg'
                : hasNumber
                ? 'assets/svg/StateKey/Success.svg'
                : passwordBlur
                ? 'assets/svg/StateKey/NotAllowed.svg'
                : 'assets/svg/StateKey/Default.svg'
            "
            class="stateImage"
          />
          <h2
            class="text-2xs"
            [ngClass]="{
              'default-text': !passwordInput || (!hasCapital && !passwordBlur),
              'valid-text': passwordInput && hasNumber,
              'error-text': passwordInput && !hasNumber && passwordBlur
            }"
          >
            Number
          </h2>
        </div>
      </div>

      <div class="inputHeadings">
        <h2 class="text-sm">Confirm password</h2>
      </div>

      <input
        type="password"
        [(ngModel)]="confirmPasswordInput"
        name="confirmPassword"
        placeholder="**********"
        class="text-xs"
        (input)="checkPasswordsMatch()"
        (focus)="submitted = false"
      />

      <div class="req-item">
        <img
          [src]="
            !confirmPasswordInput
              ? 'assets/svg/StateKey/Default.svg'
              : passwordsMatch
              ? 'assets/svg/StateKey/Success.svg'
              : 'assets/svg/StateKey/NotAllowed.svg'
          "
          class="stateImage"
        />
        <h2
          class="text-2xs"
          [ngClass]="{
            'default-text': !confirmPasswordInput,
            'valid-text': confirmPasswordInput && passwordsMatch,
            'error-text': confirmPasswordInput && !passwordsMatch
          }"
        >
          {{ passwordsMatch ? "Passwords match" : "Passwords do not match" }}
        </h2>
      </div>

      <div class="buttonFrame">
        <app-button
          label="Back"
          variant="default"
          size="medium"
          [routerLink]="'/login'"
        ></app-button>
        <app-button
          label="Create account"
          variant="highlight"
          [state]="isFormValid ? 'active' : 'disabled'"
          type="submit"
          size="medium"
        ></app-button>
      </div>
    </form>
  </div>
</div>
