.main-frame {
  color: var(--color-text-default);
  width: 100%;
  max-width: 60rem;
  height: 32rem;
  overflow: hidden;
  display: flex;
  align-items: center; /* pystysuunta */
  justify-content: center; /* vaakasuunta */
  border-radius: 8px;
  border: 1px solid transparent;
  background:
    /* sisäpinta */ linear-gradient(var(--color-background))
      padding-box,
    /* varsinainen reuna*/ var(--color-gray-v1) border-box;

  padding: 0 100px;
  gap: 20px;
  flex-direction: column;
}

.formFrame {
  max-width: 400px;
}

input {
  width: 400px;
  padding: 0.6rem 0 0.6rem 1rem;
  border: 1px solid transparent;
  border-radius: 6px;
  color: var(--color-text-default);
  outline: none;

  background:
    /* sisäpinta */ linear-gradient(var(--color-background))
      padding-box,
    /* varsinainen reuna*/ var(--color-gray-v1) border-box;

  transition: background 0.4s ease, transform 0.2s ease;
}

input::placeholder {
  color: var(--color-text-dark);
}

input:focus {
  box-shadow: none;

  background: linear-gradient(var(--color-background), var(--color-background))
      padding-box,
    var(--color-orange-gradient) border-box;

  transform: scale(1.01);
}

.inputHeadings {
  padding: 1rem 0 0 0;
}

.headFrame {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-text {
  color: var(--color-primary);
}

.buttonFrame {
  padding: 1rem 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 640px) {
  .main-frame {
    padding: 32px;
    gap: 24px;
    max-width: 680px;
  }
  .inputHeadings,
  .buttonFrame {
    max-width: 520px;
  }
  input {
    max-width: 520px;
  }
}

@media (max-width: 500px) {
  .main-frame {
    scale: 0.95;
  }
}

@media (max-height: 551.33px) {
  .main-frame {
    scale: 0.9;
  }
}

/*Mobiili*/
@media (max-width: 430px) {
  .main-frame {
    scale: 0.88;
  }
}
