/* ============================================================
   Main Layout
   ------------------------------------------------------------
   - Kolmipalstainen grid: navbar | main | social bar
   - Taustakuva kiinnitettynä koko näkymään
   ============================================================ */

.layout {
  display: grid;
  grid-template-columns: 20% 1fr 300px; /* navbar | main | social bar */
  width: 100%;
  column-gap: 0.25rem;
  min-height: var(--viewport-height);
  position: relative;
  transition: grid-template-columns 0.3s ease;
}

/* Kiinteä taustakuva koko näkymälle */
.layout::before {
  content: "";
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/SynerraBackground.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.2);
  z-index: -1;

  /* Suorituskykyoptimoinnit */
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* ============================================================
   Grid-alueet
   ============================================================ */

.navbar {
  grid-column: 1;
}

.main {
  grid-column: 2;
  padding-right: 2rem;
  padding-left: 0;
  margin-left: 0;
  overflow: visible;
  min-height: var(--viewport-height);
}

/* Social bar asetukset */
.social-floating {
  grid-column: 3;
  align-self: start;
  justify-self: start;

  max-width: 18rem;
  width: 100%;
  height: fit-content;
  position: sticky;
  z-index: 1;
}

/* MEDIA QUERYT */

@media (max-width: 900px) {
  .layout {
    grid-template-columns: 20% 1fr; /* vain navbar + main */
  }

  .main {
    grid-column: 2;
    padding-right: 0;
  }

  .social-floating {
    display: none;
  }
}
/*
===============================================
Mobiili näkymään flexbox, ja järjestys muutettu
[main]
[navigation]
===============================================
*/
@media (max-width: 768px) {
  .layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: var(--viewport-height);
  }

  .main {
    order: 1;
    flex: 1 1 auto;
    width: 100%;
    overflow-y: auto;
    padding: 0;
  }
  .navbar {
    order: 2;
    width: 100%;
    flex-shrink: 0;
    position: relative;
  }

  .navbar app-navbar .mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
  }

  body,
  .main {
    padding-bottom: 92px; /*80px + 12px*/
  }

  .navbar .nav-links {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}
