/* Fixed background version */
.layout {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  min-height: 100vh; /* ensure it covers the viewport */
  position: relative; /* for pseudo-element */
}

.layout::before {
  content: "";
  position: fixed; /* keeps it stationary while scrolling */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* behind the content */
}

/* Grid areas */
.navbar {
  grid-column: 1;
}

.main {
  grid-column: 2 / span 2;
}
@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr; /* layout ottaa kaiken käytettävän tilan */
    width: 100%;
  }

  .main {
    grid-column: 1;
  }
  .navbar {
    /* tämä on patentti jolla sain sellaisen tyhjän palkin piiloon rikkomatta mobile navigaatiota*/
    /* Tuotanto 2 alussa voisin korjata tämän kokonaan ja tehdä täysin erillisen navigaation mobiilille t: Aleksi :-) */
    position: static;
    width: 100%;
    height: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: stretch;
  }
  .navbar .nav-links {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}
