/* ============================================================
   Main Layout
   ------------------------------------------------------------
   - Kolmipalstainen grid: navbar | main | social bar
   - Taustakuva kiinnitettynä koko näkymään
   ============================================================ */

.layout {
  display: grid;
  grid-template-columns: 14rem 1fr; /* navbar | main */
  width: 100%;
  column-gap: 0.25rem;
  min-height: 100vh;
  position: relative;
}

/* Kiinteä taustakuva koko näkymälle */
.layout::before {
  content: "";
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/SynerraBackground.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.2);
  z-index: -1;

  /* Suorituskykyoptimoinnit */
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* ============================================================
   Grid-alueet
   ============================================================ */

.navbar {
  grid-column: 1;
}

.main {
  height: 100%;
  grid-column: 2;
  padding: 57px 2rem 63px 3rem;
  margin-right: clamp(
    14rem,
    20vw,
    20rem
  ); /* Allows navbar space to shrink a between 17, and 20rem */
  overflow: visible;
}

/* Social bar asetukset */
.social-floating {
  grid-column: 3;
  align-self: start;
  justify-self: start;
  max-width: 18rem;
  width: 100%;
  height: fit-content;
  position: sticky;
  z-index: 1;
}

/* MEDIA QUERYT */

@media (max-width: 900px) {
  .main {
    grid-column: 2;
    padding-right: 2rem;
  }
}
/*
===============================================
Mobiili näkymään flexbox, ja järjestys muutettu
[main]
[navigation]
===============================================
*/

@media (max-width: 1024px) {
  .social-floating {
    display: none;
  }
  .layout {
    grid-template-columns: 5rem 1fr; /* Removes social floating space and shrinks nav space */
  }
  .main {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }

  .main {
    order: 1;
    flex: 1 1 auto;
    width: 100%;
    overflow-y: auto;
    padding: 0;
    margin: 1rem;
  }

  .navbar {
    order: 2;
    width: 100%;
    flex-shrink: 0;
    position: relative;
  }

  .navbar app-navbar .mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
  }

  body,
  .main {
    padding-bottom: 92px; /*80px + 12px*/
  }

  .navbar .nav-links {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}
