<div class="loadingSpinner" *ngIf="loadingSpinnerShowing">
  <app-loading-spinner />
</div>

<div class="main-content" *ngIf="!loadingSpinnerShowing">
  <!-- Pelaajien filtteröintipalkki -->
  <div class="filter-component">
    <app-player-filters (filtersChanged)="onFiltersChanged($event)" [preSelectedGame]="preSelectedGame">
    </app-player-filters>
  </div>

  <!-- Pelaajalista -->
  <div class="users-container">
    <!-- Render priority: component.filteredUsers (if set) -> filteredUsers$ observable -> fallback to users array -->
    <ng-container *ngIf="filteredUsers$ | async as users">
      <app-player-card *ngFor="let user of users" [user]="user" [friends]="friends" [sentRequests]="sentRequests"
        [comingRequests]="comingRequests"></app-player-card>
      <div class="not-found" *ngIf="!users.length">
        <h3>No users found!</h3>
      </div>
    </ng-container>
  </div>
</div>