<div class="layout">

  <div class="mid-container">

    <!-- Pelaajien filtteröintipalkki -->
    <div class="filter-component">
      <app-player-filters (filtersChanged)="onFiltersChanged($event)"></app-player-filters>
    </div>

    <!-- Container, joka sisältää pelaajat -->
    <div class="users-container">
      <app-player-card *ngFor="let user of filteredUsers.length ? filteredUsers : users"
        [user]="user"></app-player-card>

    </div>
  </div>

  <!-- Leijuva social-floatin palkki -->
  <div class="social-floating">
    <app-social-bar></app-social-bar>
  </div>
</div>