/* Pelaajalista */
.users-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  column-gap: 40px;
  row-gap: 50px;
  padding: 35px;
  background: var(--color-dark-gradient);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.9);
}

.users-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  background: var(--color-gray);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

/* Layout */
.layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  min-height: 100vh;
  margin: 0 auto;
}

/* Keskikontti */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Dropdownien sivuttaisrullauksen esto */
.checkbox-list {
  overflow-x: hidden;
}

@media (max-width: 700px) {
  .search-wrapper {
    max-width: 90%;
  }
  .search-input {
    font-size: 0.9rem;
  }
  .search-input::placeholder {
    content: "search";
  }
}

/* Responsiivisuus hieman isommille  näytöille */
@media (max-width: 1200px) {
  .layout {
    flex-direction: column;
    max-width: 100%;
  }

  .main-content {
    max-width: 100%; /* keskikontti venyy */
    width: 100%;
    padding: 0 1rem;
  }

  .users-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    max-width: 100%;
  }

  .main {
    padding-left: 10px;
  }

  @media (max-width: 900px) {
    .layout {
      flex-direction: column;
    }

    .filters-container {
      max-width: 100% !important;
      width: 100%;
      margin: 0 0 20px;
    }
  }
}
