<!-- KÄYTTÖOHJEET
 
Default
<app-button label="Painike" variant="default"></app-button>

Hover
<app-button label="Painike" variant="default" state="hover"></app-button>

Active
<app-button label="Painike" variant="default" state="active"></app-button>

Highlight
<app-button label="Painike" variant="highlight"></app-button>

Ikoni vasemmalla (default)
<app-button label="Login with Google" icon="Google"></app-button>

Ikoni oikealla
<app-button label="Next Step" icon="ArrowRight" iconPosition="right"></app-button>

Suuri koko
<app-button label="Painike" variant="highlight" size="large"></app-button>

-->

<button class="btn" [class.btn-default]="variant === 'default'" [class.btn-highlight]="variant === 'highlight'"
  [class.btn-small]="size === 'small'" [class.btn-medium]="size === 'medium'" [class.btn-large]="size === 'large'"
  [class.btn-full]="fullWidth" [class.btn-left]="align === 'left'" [class.btn-active]="state === 'active'"
  [class.btn-icon-right]="iconPosition === 'right'" [attr.aria-disabled]="state === 'disabled' ? true : null"
  [disabled]="state === 'disabled'" (click)="navigate()">
  <!-- Ikoni vasemmalla -->
  <ng-container *ngIf="icon && iconPosition === 'left'">
    <img [src]="'assets/svg/' + icon + '.svg'" alt="{{ icon }} icon" class="btn-icon" />
  </ng-container>

  <span class="btn-label">{{ label }}</span>

  <!-- Ikoni oikealla -->
  <ng-container *ngIf="icon && iconPosition === 'right'">
    <img [src]="'assets/svg/' + icon + '.svg'" alt="{{ icon }} icon" class="btn-icon" />
  </ng-container>
</button>