:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* fallback */
  min-height: var(--viewport-height);
  width: 100%;
  overflow-x: hidden;
  overflow-y: clip;
  padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;
  box-sizing: border-box;
}

/* Taustakuva */
.layout {
  position: relative;
  background-image: url("/assets/images/SynerraBackground.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: var(--viewport-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* GPU-kiihdytys ja kevyempi renderöinti */
  transform: translateZ(0);
  backface-visibility: hidden;
  /* z-index: 10000; */
}

.layout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* tummennus, säädä arvoa tarpeen mukaan */
  pointer-events: none; /* ei estä interaktiota lapsissa */
  z-index: -1;
}

.layout > .auth-card,
.layout > .auth-card--wide {
  position: relative;
  z-index: 1;
}

.layout > .auth-card {
  max-width: 480px;
  width: 100%;
}

.layout > .auth-card--wide {
  max-width: 960px;
  width: 100%;
  z-index: 1;
}

/* iOS-tuki: varmistetaan, että osoitepalkin korkeus ei luo ylimääräistä marginaalia */
@supports (-webkit-touch-callout: none) {
  :host {
    min-height: -webkit-fill-available;
    padding-top: 0 !important;
  }
}
