.mainFrame {
  /* background-color: black; Tämä on turha */
  background: linear-gradient(to bottom, #808080, #232323);
  position: fixed; /* sit above all content */
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #808080, #232323);
  z-index: 9999; /* above everything else */
  gap: 1.25rem;
  padding: 2rem;
  justify-content: center;

  flex-direction: column;
  align-items: center;

  --truck-scale: 1.5;
}

/* From Uiverse.io by vinodjangid07 */
.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  width: 200px;
  height: 140px; /*Vakiona 100px*/
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;

  transform: scale(var(--truck-scale));
  transform-origin: center bottom;
}
/* truck upper body */
.truckBody {
  width: 170px;
  height: fit-content;
  margin-bottom: 10px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 26px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid #282828;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid #282828;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}

/* Loading text */

/* From Uiverse.io by polidahiya */
.loadingtext p {
  color: var(--color-primary);
  position: relative;
  font-size: 2rem; /*Tämä on lisätty */
}

.loadingtext p::after {
  position: absolute;
  animation: b 3s infinite linear;
  color: var(--color-primary);
  content: "";
  left: 100%;
}

@keyframes b {
  0% {
    content: "";
  }

  10% {
    content: ".";
  }

  40% {
    content: "..";
  }

  70% {
    content: "...";
  }

  100% {
    content: "";
  }
}
