.mainFrame {
  background: linear-gradient(to bottom, #0f0101, #232323);
  min-height: 100vh;
  gap: 10rem;
  padding: 2rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* From Uiverse.io by SouravBandyopadhyay */
#outline {
  stroke-dasharray: 2.42777px, 242.77666px;
  stroke-dashoffset: 0;
  -webkit-animation: anim 1.4s linear infinite;
  animation: anim 0.9s linear infinite;
}

@-webkit-keyframes anim {
  12.5% {
    stroke-dasharray: 33.98873px, 242.77666px;
    stroke-dashoffset: -26.70543px;
  }

  43.75% {
    stroke-dasharray: 84.97183px, 242.77666px;
    stroke-dashoffset: -84.97183px;
  }

  100% {
    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: -240.34889px;
  }
}

@keyframes anim {
  12.5% {
    stroke-dasharray: 33.98873px, 242.77666px;
    stroke-dashoffset: -26.70543px;
  }

  43.75% {
    stroke-dasharray: 84.97183px, 242.77666px;
    stroke-dashoffset: -84.97183px;
  }

  100% {
    stroke-dasharray: 2.42777px, 242.77666px;
    stroke-dashoffset: -240.34889px;
  }
}

/* Loading text */

/* From Uiverse.io by polidahiya */
.loadingtext p {
  color: var(--color-primary);
  position: relative;
  font-size: 2rem; /*Tämä on lisätty */
}

.loadingtext p::after {
  position: absolute;
  animation: b 3s infinite linear;
  color: var(--color-primary);
  content: "";
  left: 100%;
}

@keyframes b {
  0% {
    content: "";
  }

  10% {
    content: ".";
  }

  40% {
    content: "..";
  }

  70% {
    content: "...";
  }

  100% {
    content: "";
  }
}
