.chatElement {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background: var(--color-background);
  border-radius: 8px;
  padding: 1rem;
  color: var(--color-text-default);
  font-family: Inter, sans-serif;
  width: 260%;
  box-sizing: border-box;
}

.headframe {
  display: grid;
  grid-template-columns: 10% 75% 15%;
  align-items: center;
  padding: 0.5rem 1rem;
  background: var(--color-background);
  border-radius: 8px;
  gap: 1rem;
  text-align: center;
  background: linear-gradient(135deg, #1f1f1f, #2c2c2c);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-text-default);
}

.avatarframe-icon {
  width: 3.5rem;
  height: 3.5rem;
}

.chatheading {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-text-default);
}

.headerButton button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.headerButton img {
  width: 1rem;
  height: 1rem;
}

.headerButton button:active {
  transform: scale(0.85);
}

.chat-log {
  flex: 1;
  overflow-y: auto;
  margin: 1rem 0;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chats {
  flex: 1;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sentMessage,
.receivedMessage {
  max-width: 60%;
  padding: 0.5rem 0.75rem;
  font-size: 0.95rem;
  line-height: 1.4;
  word-wrap: break-word;
}

/* Your messages (right side) */
.sentMessage {
  background: rgba(58, 58, 58, 0.5);
  align-self: flex-end;
  border-radius: 8px 8px 0px 8px;
}

/* Other user's messages (left side) */
.receivedMessage {
  background: rgba(58, 58, 58, 0.5);
  align-self: flex-start; /* LEFT */
  border-radius: 8px 8px 8px 0px;
  border: 2px solid var(--color-primary);
}

.receivedMessageWrapper {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.messageAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 1%;
}

/* Input row */
.chat-input {
  display: flex;
  gap: 0.5rem;
}

.chat-input input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #8e8e8e;
  background: #1e1e1e;
  color: var(--color-text-default);
}

.chat-input input:focus {
  border-color: var(--color-primary);
  outline: none;
}

.chat-input button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: var(--color-primary);
  color: var(--color-text-default);
  cursor: pointer;
}
