<div class="chatElement">
  <div class="headframe">
    <img class="avatarframe-icon" src="assets/svg/Acount.svg" alt="avatar" />
    <div class="headerframe">
      <div class="chatheading">Chat</div>

    </div>
    <div class="headerButton">
      <button [routerLink]="['/dashboard/social']"><img src="/assets/svg/Cross.svg" alt="" /></button>
    </div>
  </div>

  <div class="chat-log">
    <!-- Loops the messages gotten from the chatService -->
    <div *ngFor="let msg of messages$ | async" class="chats">
      <div *ngIf="msg.senderId === loggedInUser?.UserId" class="sentMessageWrapper">
        <div class="sentMessage">
          <p>{{msg.message}}</p>
        </div>
        <p class="timestamp">{{ msg.timestamp | date:'dd/MM/yyyy, HH:mm' }}</p>
      </div>

      <div *ngIf="msg.senderId !== loggedInUser?.UserId" class="receivedMessageWrapper">
        <img src="{{msg.profilePicture || 'assets/svg/Acount.svg'}}" alt="avatar" class="messageAvatar" />
        <div>
          <div class="receivedMessage">
            <p>{{msg.senderUsername}}</p>
            <p>{{msg.message}}</p>
          </div>
          <p class="timestamp">{{ msg.timestamp | date:'dd/MM/yyyy, HH:mm' }}</p>
        </div>
      </div>


    </div>
  </div>

  <div class="chat-input">
    <input [(ngModel)]="messageText" (keyup.enter)="sendMessage(messageText)" />
    <button (click)="sendMessage(messageText)">
      <img src="assets/svg/Send.svg" alt="">
    </button>


  </div>
</div>