<div class="social-floating">

  <!-- Header -->
  <div class="header">
    <div class="top-socialbar">
      <div class="social-text">Social</div>
      <app-notifications></app-notifications>
    </div>
    <div class="linebreak-horizontal-child"></div>

  </div>

  <!-- Online players summary -->
  <div class="chatrooms-sum-wrapper">
    <div class="chatrooms-sum">
      <b class="my-chatrooms-container">
        <span>PLAYERS ONLINE - </span>
        <span class="sum">{{ (users$ | async)?.length }}</span>
      </b>
    </div>
  </div>

  <!-- Player list -->
  <div class="friends-container">
    <div class="players">
      <div class="player-card" *ngFor="let user of users$ | async" (click)="userClicked(user.UserId)">
        <img class="acount-icon" [src]="user.ProfilePicture" alt="Player Avatar" />
        <div class="player-name">{{ user.Username }}</div>
        <div class="status">
          <!-- statuksen kuva, jos halutaan -->
        </div>
      </div>
    </div>
  </div>

</div>