<div class="social-floating">

  <!-- Header -->
  <div class="header">
    <div class="top-socialbar">
      <div class="social-text">Social</div>
      <app-notifications></app-notifications>
    </div>
    <div class="linebreak-horizontal-child"></div>

  </div>

  <!-- Online players summary -->
  <div class="chatrooms-sum-wrapper">
    <div class="chatrooms-sum">
      <b class="my-chatrooms-container">
        <span>FRIENDS ONLINE - </span>
        <span class="sum">{{ (onlineUsers$ | async)?.length }}</span>
      </b>
    </div>
  </div>

  <!-- Player list -->
  <div class="friends-container">
    <div class="players">
      <div *ngFor="let user of users$ | async" (click)="userClicked(user.UserId)">
        <div class="player-card">
          <img class="acount-icon" [src]="user.ProfilePicture" alt="Player Avatar" />
          <div class="player-name">{{ user.Username }}</div>
          <div class="status">
            <img src="/assets/svg/Status/Online.svg" *ngIf="user.Status==='online'" alt="Online">
            <img src="/assets/svg/Status/Offline.svg" *ngIf="user.Status==='offline'" alt="Offline">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>