.social-floating {
  position: absolute;
  top: 5%;
  right: 2%;
  width: 16rem;
  height: 90vh;
  border-radius: 8px;
  background-color: var(--color-background);
  padding: 1rem 1.875rem 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.437rem;
  overflow-x: hidden;
  z-index: 1000;
  box-sizing: border-box;
}

/* Gradient outline */
.social-floating::before {
  content: "";
  position: absolute;
  inset: 0; /* covers entire element */
  border-radius: 8px;
  padding: 1px; /* thickness of gradient border */
  background: var(--color-gray-v2);

  /* Mask for gradient border */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;

  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;

  pointer-events: none; /* don’t block clicks */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.875rem 1.25rem 0 0;
  gap: 1.5rem;
}

.social-text {
  height: 0.938rem;
}

.linebreak-horizontal-child {
  width: 100%;
  height: 0.063rem;
  background: linear-gradient(
    180deg,
    #8e8e8e,
    #5d5c5c 25%,
    #515050 50%,
    #5d5c5c 75%,
    #8e8e8e
  );
  border-radius: 1px;
}

/* Players online scrollable */
.friends-container {
  max-height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.player-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.812rem;
  height: 3rem;
  width: 100%;
  border-radius: 8px;
  padding: 0.25rem 0.312rem;
  box-sizing: border-box;
}

.player-name {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.acount-icon {
  width: 2.5rem;
  height: 100%;
  border-radius: 50%;
}

.status {
  width: 0.5rem;
  height: 0.5rem;
  position: relative;
}

.online-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Chatrooms scrollable */
.chatroom-items {
  max-height: 40vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.312rem;
  padding: 0.5rem 0;
}

.chatroom-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3.625rem;
  width: 100%;
  padding: 0.25rem 0.312rem;
}

.chatroom-card-child {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 20px;
  background-color: #1b1b1b;
  border: 1px solid #8e8e8e;
}

/* Scrollbar styling */
.friends-container::-webkit-scrollbar,
.chatroom-items::-webkit-scrollbar {
  width: 6px;
}

.friends-container::-webkit-scrollbar-thumb,
.chatroom-items::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

.friends-container,
.chatroom-items {
  scrollbar-width: thin;
  scrollbar-color: #1b1b1b var(--color-background);
}

.sum {
  color: var(--color-primary);
}
